build/
lib/
.vscode/
.dev/
.archives/
debian/.debhelper/
debian/libspot-dev.debhelper.log
debian/libspot-dev/
debian/libspot.debhelper.log
debian/libspot/
debian/tmp/
python/build
python/dist
python/*.egg-info
python/.coverage
python/*.so
python/__pycache__
*.gcov
*.gcda
*.gcno
*.bak
test_*
!test_*.c
bazel-*
BUILD
WORKSPACE
test/*
!test/src/*_test.c
docs/doxygen/generated
docs/doxygen/_*
dist/
wasm/libspot.js
*.lua