/* My palette 
onyx: #0F1F38
firework: #F55449
oceanic: #1B4B5A
*/
$content-width: 800px;
/*$main: #333333;*/
$main: #0F1F38;
$font-style: 'Open Sans', sans-serif;
$font-title: 'Oswald', sans-serif;
$font-color: $main;
//$link-color: #425469;
//$link-hover-color: #0072BB;
$link-color: #1B4B5A;
$link-hover-color: #F55449;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #425469;
/*$red: #FF6961;*/
$red: #F55449;
$lightred: #FFD9D6;
$mediumred: #FF9D94;
/*$blue: #0072BB;*/
$blue: #1B4B5A;
$mediumblue: #5590BA;
$lightblue: #D6EDFF;
$afblue: #5D8AA8;
$light: #E7EDF4;
$header2:  #1D1425;
$header: $main;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
			}
