@font-face {
  font-family: OpenSans;
  src: url('../_fonts/opensans/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url('../_fonts/opensans/OpenSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: OpenSans;
  src: url('../_fonts/opensans/OpenSans-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: Oswald;
  src: url('../_fonts/oswald/Oswald-Regular.ttf');
}

@font-face {
  font-family: Muli;
  src: url('../_fonts/muli/Muli-Regular.ttf');
}

@font-face {
  font-family: UbuntuMono;
  src: url('../_fonts/ubuntu/UbuntuMono-R.ttf');
}


/* My palette 
onyx: #0F1F38
firework: #F55449
oceanic: #1B4B5A
*/
$content-width: 800px;
/*$main: #333333;*/
$main: #0F1F38;
$font-style: OpenSans;
$font-title: Oswald;
$font-color: $main;
//$link-color: #425469;
//$link-hover-color: #0072BB;
$link-color: #1B4B5A;
$link-hover-color: #F55449;
$heading-font: Muli;
$heading-font-color: #425469;
/*$red: #FF6961;*/
$red: #F55449;
$lightred: #FFD9D6;
$mediumred: #FF9D94;
/*$blue: #0072BB;*/
$blue: #1B4B5A;
$mediumblue: #5590BA;
$lightblue: #D6EDFF;
$afblue: #5D8AA8;
$light: #E7EDF4;
$header2:  #1D1425;
$header: $main;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
			}

pre,
code {
	width: auto;
	font-family: UbuntuMono;
}
