

/* My palette */
$color-onyx: #0F1F38;
$color-firework: #F55449;
$color-oceanic: #1B4B5A;
$color-mist: #90AFC5;
$color-ocean: #07575B;
/*$color-sea: #2988BC;*/
$color-bright-blue: #337BAE;
$color-spicy: #B51D0A;
$color-meadow: #598234;
$color-blueberry: #3A5199;


/* fonts */
$font1: 'Open Sans';
$font2: 'Oswald';
$font3: 'Muli';
$font4: 'Ubuntu Mono';


/* color */
$color1: $color-onyx;
$color2: $color-firework;
$color3: $color-oceanic;
$color4: $color-bright-blue;
$color5: $color-spicy;
$color6: $color-meadow;
$color7: $color-blueberry;

/*
$content-width: 800px;
$main: #333333;
$main: #0F1F38;
$font-style: OpenSans;
$font1: OpenSans;
$font2: Oswald;
$font-title: Oswald;
$font-color: $main;
//$link-color: #425469;
//$link-hover-color: #0072BB;
$link-color: #1B4B5A;
$link-hover-color: #F55449;
$heading-font: Muli;
$heading-font-color: #425469;
$red: #FF6961;
$red: #F55449;
$lightred: #FFD9D6;
$mediumred: #FF9D94;
$blue: #0072BB;
$blue: #1B4B5A;
$mediumblue: #5590BA;
$lightblue: #D6EDFF;
$afblue: #5D8AA8;
$light: #E7EDF4;
$header2:  #1D1425;
$header: $main;*/


