
.language-shell.highlighter-rouge {
    font-size: 1.2em;
    pre code {
        background-color: $color-onyx;
        color: white;

        .nb {
            color: $color-gold;
        }

        .nt {
            color: $color-sage;
        }
    }
}

.language-ini.highlighter-rouge {
    font-size: 1.2em;
    pre code {
        background-color: $color-onyx;
        color: white;

    }
}

.language-python.highlighter-rouge {
    font-size: 1.2em;
    pre code {
        background-color: $color-onyx;
        color: white;

        .n {
            color: white;
        }

        .mi {
            color: $color-firework;
        }

        .mf {
            color: $color-firework;
        }

        .bp {
            color: $color-sage;
        }

        .kn, .k, .ow {
            font-weight: bold;
            color: $color-grecian;
        }

        .c1 {
            font-style: italic;
            color: $color-sandstone;
        }

        .s {
            color: $color-onion;
        }
    }
}


.language-cpp.highlighter-rouge {
    font-size: 1.2em;
    pre code {
        
        background-color: $color-onyx;
        color: white;

        .n {
            color: white;
        }

        .mi {
            color: $color-firework;
        }

        .mf {
            color: $color-firework;
        }

        .cp {
            color: $color-sage;
        }

        .kt {
            color: $color-grecian;
        }

        .k {
            color: $color-sandstone;
        }

        .c1 {
            font-style: italic;
            color: $color-mist;
        }

        .s {
            color: $color-onion;
        }
    }
}