#page {
	margin: 0 auto;
	width: 60%;
}

.topbar {
	float: left;
	width: 100%;
	background: #FFFFFF;
	margin: 0 auto;
}

.topbar .title {
	float: left;
	margin: 0;
	font: normal 2em $font3, sans serif;
	font-weight: bold;
	color: $color1;
	a:link {
		color: $color1;
		text-decoration: none;
	}
	a:hover {
		color: $color2;
		text-decoration: none;
	}
}

.topbar .tab {
	float: right;
	margin: 0 auto;
	a {
		float: left;
		text-decoration: none;
		padding: 1em 1em;
		background: #FFFFFF;
		font: normal 1em $font3, sans-serif;
		display: block;
		color: $color1;
		text-align: center;
		&:hover,
		&:active {
			background: $color1;
			text-decoration: none;
			color: $color2;
		}
	}
}


body {
	float: left;
	background-color: #FFFFFF;
	color: $color1;
	font: normal 100% $font1;
	margin: 0 auto;
	width: 100%;
}
h1 {
	color: $color2;
	font: normal 4em $font2;
	text-transform: uppercase;
	text-decoration: none;
}
h2 {
	font: 2em;
	font: normal 2.5em $font2;
	color: $color3;
}
h3 {
	color: $color1;
	font: bold 1.5em $font1, sans serif;
	line-height: 1em;
}

a {
	color: $color3;
}
a:visited {
	color: $color2;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: $color2;
	text-decoration: underline;
}

main {
	float: left;
	margin: 0 auto;
	width: 100%;
	font: normal 1.1em $font1, sans serif;
	text-align: justify;
	
}

main .block {
	float: left;
	margin: 0 auto;
	width: 50%;
	display: block;
	text-align: left;
	white-space: pre-wrap;
}

.bash {
	color: #FFFFFF;
	background-color: $color1;
	font: normal 1em $font4; 
	padding: 0.5em 1em;
	display: block;
	&:before {
    		content: '>';
	}
}

header {
	float: left;
	background: $color1;
	padding: 3em 0;
	text-align: center;
	margin: 0 -33.33%;
	width: 166.66%;
}


pre, code  {
	font-size: 1.1em;
	color: $color4;
	white-space: pre-wrap;
}

footer {
	text-align: center;
	padding: 2em;
}


.alert {
	background-color: $color1; 
	border: thin solid $color2; 
	color: $color2;
	font: normal 1em $font1, sans serif;
	padding: 0.5em 1em;
	pre, code  {
		color: $color2;
	}
}


@media (min-width: 1440px)
{
	main {
		width: 70%;
		margin: auto 15%;
	}
	
}


@media (max-width: 768px)
{
	#page {
		margin: 0 auto;
		width: 100%;
	}


	header {
		margin: 0 auto;
		width: 100%;
		padding: 2em 0;
		overflow: hidden;
	}
	
	h1 {
		font-size: 3em;
	}
	
	.topbar {
		text-align: center;
	}
	
	.topbar .title {
		float: left;
		text-align: center;
		width: 100%;
		margin: 0.25em auto;
	}
	
	.topbar .tab {
		float: left;
		width: 100%;
		margin: 0 auto;
		display: flex;
		a {
			font-size: 1em;
			width: 23%;
			float: center;
			margin: 0 auto;
			display: inline-block;
		}
	}
	
	main {
		width: 90%;
		margin: auto 5%;
		font-size: 1em;
	}
	
	main .block {
		float: left;
		width: 100%;
	}
	
	pre  {
		font-size: 0.9em;
		width: 80%;
	}
	
	
}
	

@media (max-width: 600px)
{
	.topbar .tab {
		a {
			font-size: 0.8em;
		}
		
	}
}



