#page {
	margin: 0 auto;
	width: 60%;
}

.topbar {
	float: left;
	width: 100%;
	background: #FFFFFF;
	margin: 0 auto;
}

.topbar .title {
	float: left;
	margin: 0;
	font: normal 2em $font3, sans serif;
	font-weight: bold;
	color: $color1;
	a:link {
		color: $color1;
		text-decoration: none;
	}
	a:hover {
		color: $color2;
		text-decoration: none;
	}
}

.topbar .tab {
	float: right;
	margin: 0 auto;
	a {
		float: left;
		text-decoration: none;
		padding: 1em 1em;
		background: #FFFFFF;
		font: normal 1em $font3, sans-serif;
		display: block;
		color: $color1;
		text-align: center;
		&:hover,
		&:active {
			background: $color1;
			text-decoration: none;
			color: $color2;
		}
	}
}


body {
	float: left;
	background-color: #FFFFFF;
	color: $color1;
	font: normal 100% $font1;
	margin: 0 auto;
	width: 100%;
}

body .leftbar {
	float: left;
	//list-style-type: none;
	//text-decoration: none;
    margin-top: 0;
    padding-top: 0;
    width: 25%;
	background-color: $color-onyx;
    height: 100%;
    overflow: auto;
}

body .leftbar a {
	padding: 0.5em 0;
	width: 100%;
	//color: white;
	color: white;
	//color: $color-onyx;
	//font: normal 1.5em $font2, sans serif;
	text-align: center;
	display: block;
	text-decoration: none;
}

/* Change the link color on hover */
body .leftbar a:hover {
	text-decoration: none;
	background-color: white;
	color: $color-firework;
}

body .right {
	float: left;
	width: 72%;
	height: 100%;
	margin-left: 3%;
	margin-right: auto;
	color: $color-onyx;

	title {
		padding-top: 1em;
		font: normal 3em $font4;
		color: $color2;
		text-align: right;
		display: block;
		width: 100%;
	}
	hr {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		}
	
	desc {
		float: left;
		margin-left: 2em;
		padding-bottom: 2em;
		padding-top: 0.5em;
	}

	h2 {
		float: left;
		text-align: left;
		display: block;
		width: 100%;
	}
		
}


body .right .code  { 
	font: normal 125% $font4;
	//padding: 0.25em;
	//padding-left: 1em;
	//padding-right: 1em;
	//border-radius: 0.5em; 
	border-color: $color-onyx;
	//border-width: 1em;
	background: white; 
	white-space: pre-wrap;
	//display: inline;
	float: left;
	width: 100%;

	type {
		color: $color-type;
	}
	prot {
		font-style: italic;
		color: $color-prot;
	}
}



h1 {
	color: $color2;
	font: normal 4em $font2;
	text-transform: uppercase;
	text-decoration: none;
}
h2 {
	font: 2em;
	font: normal 2.5em $font2;
	color: $color3;
}
h3 {
	color: $color1;
	font: bold 1.5em $font1, sans serif;
	line-height: 1em;
	padding-top: 0.5em;
}

a {
	color: $color3;
}
a:visited {
	color: $color2;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: $color2;
	text-decoration: underline;
}

main {
	float: left;
	margin: 0 auto;
	width: 100%;
	font: normal 1.1em $font1, sans serif;
	text-align: justify;
	
}

main .block {
	float: left;
	margin: 0 auto;
	width: 50%;
	display: block;
	text-align: left;
	white-space: pre-wrap;
}

/*.bash {
	color: #FFFFFF;
	background-color: $color1;
	font: normal 1em $font4; 
	padding: 0.5em 1em;
	display: block;
	&:before {
    		content: '>';
	}
}*/

header {
	float: left;
	background: $color1;
	padding: 3em 0;
	text-align: center;
	margin: auto -33.33%;
	width: 166.66%;
	/*height: 15em;
	max-height: 11em;*/
}

/*
header h1 {
	float: left;
	width: 80%;
	text-align: center;
	margin: 0 auto;
}
*/
p img {
	width: 100%;
}

header img {
	float: left;
	height: 15em;
	margin: -2em -15em -15em auto;
	/*margin: -10em -0.5em;*/
/*	vertical-align: text-top;*/
}

/*pre, code  {
	font-size: 1.1em;
	color: $color4;
	white-space: pre-wrap;
}

pre {
	margin-left: 15%;
}
pre {
    border-radius: 1em; 
    border: 1px solid $color1;
    white-space: pre-wrap;
    padding: 1em;
    
}*/


.highlight  { 
	padding: 0.25em;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 0.5em; 
	background: $color1; 
	white-space: pre-wrap;
}

code {
	color: $color3;
}


footer {
	width: 100%;
	float: left;
	text-align: center;
	padding-top: 1.5em;
	padding-bottom: 1em;
}


.alert {
	/*background-color: $color3; */
	border: thin solid $color-sage; 
	color: $color-meadow;
	font: normal 1em $font1, sans serif;
	padding: 0.5em 1em;
	pre, code  {
		font-size: 1.2em;
		color: $color-sage;
	}
}


@media (min-width: 1920px)
{
	main {
		width: 70%;
		margin: auto 15%;
	}
	
}


@media (max-width: 900px)
{
	#page {
		margin: 0 auto;
		width: 100%;
	}


	header {
		margin: 0 auto;
		width: 100%;
		padding: 2em 0;
		overflow: hidden;
	}
	
	header img {
		height: 10em;
	}
	
	h1 {
		font-size: 3em;
	}
	
	.topbar {
		text-align: center;
	}
	
	.topbar .title {
		float: left;
		text-align: center;
		width: 100%;
		margin: 0.25em auto;
	}
	
	.topbar .tab {
		float: left;
		width: 100%;
		margin: 0 auto;
		display: flex;
		a {
			font-size: 1em;
			width: 23%;
			float: center;
			margin: 0 auto;
			display: inline-block;
		}
	}
	
	main {
		width: 90%;
		margin: auto 5%;
		font-size: 1em;
	}
	
	main .block {
		float: left;
		width: 100%;
	}
	
	/*pre {
		font-size: 1em;
		width: 80%;
		margin: auto 0;
	}*/
	
	
}
	

@media (max-width: 400px)
{
	.topbar .tab {
		a {
			font-size: 0.8em;
		}
		
	}
	
	header img {
		height: 0;
	}
	
	/*pre {
		font-size: 0.9em;
	}*/
}



