#page {
	margin: 0 auto;
	width: 60%;
}

.topbar {
	float: left;
	width: 100%;
	background: #FFFFFF;
	margin: 0 auto;
}

.topbar .title {
	float: left;
	margin: 0;
	font-family: $font3, sans serif;
	font-weight: bold;
	font-size: 2em;
	color: $color1;
	a:link {
		color: $color1;
		text-decoration: none;
	}
	a:hover {
		color: $color2;
		text-decoration: none;
	}
}

.topbar .tab {
	float: right;
	margin: 0 auto;
	a {
		float: left;
		text-decoration: none;
		padding: 1em 1em;
		background: #FFFFFF;
		font-family: $font3, sans-serif;
		display: block;
		color: $color1;
		text-align: center;
		&:hover,
		&:active {
			background: $color1;
			text-decoration: none;
			color: $color2;
		}
	}
}


body {
	float: left;
	background-color: #FFFFFF;
	color: $color1;
	font: normal 100% $font1;
	margin: 0 auto;
	width: 100%;
}
h1 {
	color: $color2;
	font: normal 4em $font2;
	text-transform: uppercase;
	text-decoration: none;
}
h2 {
	font: 2em;
	font: normal 2.5em $font2;
	color: $color3;
}
h3 {
	color: $color1;
	font: bold 1.5em $font1, sans serif;
	line-height: 1em;
}

a {
	color: $color3;
}
a:visited {
	color: $color2;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: $color2;
	text-decoration: underline;
}

main {
	float: left;
	margin: 0 auto;
	width: 100%;
	font: normal 1.1em $font1, sans serif;
	text-align: justify;
	
}

.bash {
	color: #FFFFFF;
	background-color: $color1;
	font: normal 1em $font4; 
	padding: 0.5em 1em;
	display: block;
	&:before {
    		content: '>';
	}
}

header {
	float: left;
	background: $color1;
	padding: 3em 0;
	text-align: center;
	margin: 0 -33.33%;
	width: 166.66%;
}



@media (max-width: 768px)
{
	#page {
		margin: 0 auto;
		width: 100%;
	}


	header {
		margin: 0 auto;
		width: 100%;
		padding: 2em 0;
	}
	
	h1 {
		font-size: 3em;
	}
	
	.topbar {
		text-align: center;
	}
	
	.topbar .title {
		float: left;
		text-align: center;
		width: 100%;
		margin: 0.25em auto;
	}
	
	.tab {
		float: left;
		width: 100%;
		margin: 0 auto;
		display: flex;
		a {
			width: 25%;
			float: center;
			margin: 0 auto;
			display: inline-block;
		}
	}
	
	main {
		width: 90%;
		margin: auto 5%;
		font-size: 1em;
		/*padding: auto 5em;*/
	}
	
}
	

/*
pre, code {
	
}*/



/*
time {
	color: #898989;
}
.container {
	max-width: $content-width;
	margin: 0 auto;
}
.highlight {
	margin: 0;
	padding: 0;
	font-family: $font-style;
	font-size: 90%;
	line-height: 1.5;
	background-color: #fff;
}


.codeblock {
	font-family: "Ubuntu Mono";
	background-color : $light;
	padding-left: 50px;
	border: thin solid $mediumred; 
	overflow: hidden;
}
*/
/* Aside */


/*
aside {
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
	z-index: 2;
	border-bottom: 1px solid lighten($light, 30%);
	box-shadow: 0px 1px 1px RGBA(4, 25, 54, .1);
	fixt {
		float: left;
		margin: 0 auto;
		font-family: 'Muli', sans serif;
		font-weight: bold;
		font-size: 30px;
		color: $main;
		a:link {
			color: $main;
			text-decoration: none;
		}
		a:hover {
			color: $red;
			text-decoration: none;
		}
	}
	
	nav {
		float: right;
		max-width: $content-width;
		margin: 0 auto;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				float: left;
				position: relative;
				a {
					text-decoration: none;
					display: block;
					padding: 15px;
					font-family: 'Muli', sans-serif;
					line-height: 20px;
					margin-bottom: -1px;
					box-shadow: 0;
					color: $main;
					&:hover,
					&:active {
						background: $header;
						text-decoration: none;
						color: $red;
					}
				}
			}
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}
*/
/*
* {
    box-sizing: border-box;
}
.left {
    width: 75%;
    float: left;
    padding-right: 15px;
}
.right {
	position: sticky;
    top: 50px;
    float: left;
    width: 25%;
    border-left: 1px solid;
	border-left-color: $blue;
	padding-left: 0px;
	a {
		text-decoration: none;
		display: block;
		padding: 5px;
		padding-left: 10px;
		font-family: 'Muli', sans-serif;
		line-height: 20px;
		margin-bottom: -20px;
		box-shadow: 0;
		color: $main;
		&:hover,
		&:active {
			background: $header;
			text-decoration: none;
			color: $red;
		}
	}
}*/
/*
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 15px;
}*/

/*
.row::after {
    content: "";
    clear: both;
    display: table;
}*/
/*Base Mobile Layout*/


footer {
	text-align: center;
	padding: 2em;
}

/* left menu */

/*
page-wrap { 
  float: left;
  width: 70%; 
  position: relative; 
}

sidebar { 
  float: right;
  width: 20%; 
  position: fixed;
  margin: 0px 30px;
}*/

/* other sidebar */
/*
.float-left-area  {
		  width: 75%;
		  float: left;
		  }

.float-right-area {
		  float: left;
		  width: 25%;
		  position: fixed;
		  }

.inner-left	  {
		  padding: 0px 5px 5px 5px;
		  margin-right: 10px;
		  min-height: 60px;
		  }

.inner-right	  {
		  padding: 0px 5px 5px 5px;
		  min-height: 80px;
		  position: fixed;
		  border-left: solid $blue;
		  a {
					text-decoration: none;
					display: block;
					padding: 15px 15px;
					font-family: 'Muli', sans-serif;
					line-height: 15px;
					margin-bottom: 15px;
					box-shadow: 0;
					color: $main;
					&:hover,
					&:active {
						background: $header;
						text-decoration: none;
						color: $red;
					}
				}
		  }

.clear-floated	  { clear: both; height: 1px; font-size: 1px; line-height: 1px; padding: 0; margin: 0; }
*/


/* tip/alert block */
/*
.tip {
	padding: 0.5em;
	background-color: $color3; 
	border: thin solid $mediumblue;
	font: normal 1em font2;
	
}*/

.alert {
	background-color: $color1; 
	border: thin solid $color2; 
	color: $color2;
	font: normal 1em $font1, sans serif;
	padding: 0.5em 1em;
}

