Package: libspot-dev-dbgsym
Package-Type: ddeb
Source: libspot
Version: 1.1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Alban Siffer <alban.siffer@irisa.fr>
Installed-Size: 50
Depends: libspot-dev (= 1.1)
Section: debug
Priority: extra
Multi-Arch: same
Description: Debug symbols for libspot-dev
Build-Ids: cf670b483a4a7913f83bf4ef831f0b86efd4f018 cf670b483a4a7913f83bf4ef831f0b86efd4f018
