Source: libspot
Priority: extra
Maintainer: Alban Siffer <alban.siffer@irisa.fr>
Build-Depends: debhelper (>=9), g++ (>=4.8), libgomp1
Standards-Version: 3.9.6
Section: libs
Homepage: https://asiffer.github.io/libspot/


Package: libspot-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libgomp1, ${shlibs:Depends}, ${misc:Depends}
Description: A C++ library to flag outliers in streaming data - dev files

Package: libspot
Architecture: any
Multi-Arch: same
Depends: libgomp1, ${shlibs:Depends}, ${misc:Depends}
Description: A C++ library to flag outliers in streaming data - exec files
