Package: libspot
Version: 1.2
Architecture: amd64
Maintainer: Alban Siffer <alban.siffer@irisa.fr>
Installed-Size: 140
Depends: libgomp1 (>= 4.9), libc6 (>= 2.4), libgcc1, libstdc++6 (>= 5.2)
Section: libs
Priority: extra
Multi-Arch: same
Homepage: https://asiffer.github.io/libspot/
Description: A C++ library to flag outliers in streaming data - exec files
