Package: libspot-dev
Source: libspot
Version: 1.1
Architecture: amd64
Maintainer: Alban Siffer <alban.siffer@irisa.fr>
Installed-Size: 290
Depends: libc6 (>= 2.4), libgcc1 (>= 1:3.0), libstdc++6 (>= 5.2)
Section: libdevel
Priority: extra
Multi-Arch: same
Homepage: <insert the upstream URL, if relevant>
Description: A C++ library to flag outliers in streaming data
 <insert long description, indented with spaces>
