Package: libspot-dbgsym
Package-Type: ddeb
Source: libspot
Version: 1.2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Alban Siffer <alban.siffer@irisa.fr>
Installed-Size: 52
Depends: libspot (= 1.2)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libspot
Build-Ids: 8aab4d2a70441cb8d111481a9168747c14aa7027
