Package: libspot-dbgsym
Package-Type: ddeb
Source: libspot
Version: 1.1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Alban Siffer <alban.siffer@irisa.fr>
Installed-Size: 50
Depends: libspot (= 1.1)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libspot
Build-Ids: 0852d5d40bdf571e6f6ba90986c4c8f85286571f
