Package: libspot-dbgsym
Package-Type: ddeb
Source: libspot
Version: 1.2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Alban Siffer <alban.siffer@irisa.fr>
Installed-Size: 51
Depends: libspot (= 1.2)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libspot
Build-Ids: 92cb59d8f70fc359f320dda26902eba1d0d9806c
